<nav class="navbar">
    <div class="nav-desktop">

        <div class="mobile-menu-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <!-- HOME -->
        <div class="nav-container">
            <div class="nav-top">
                <a href="/" class="nav-item">home</a>
            </div>
            <div class="nav-bottom">
                <a href="/" class="nav-item">home</a>
            </div>
        </div>

        <!-- BEATPAD -->
        <div class="nav-container">
            <div class="nav-top">
                <a href="/#Contact" class="nav-item">Contact</a>
            </div>
            <div class="nav-bottom">
                <a href="/#Contact" class="nav-item">Contact</a>
            </div>
        </div>


        <!-- GAME -->
        <div class="nav-container">
            <div class="nav-top">
                <a href="/#Projects" class="nav-item">Projects</a>
            </div>
            <div class="nav-bottom">
                <a href="/#Projects" class="nav-item">Projects</a>
            </div>
        </div>

        <!-- PORTFOLIO -->
        <div class="nav-container">
            <div class="nav-top">
                <a href="/portfolio/" class="nav-item">portfolio</a>
            </div>
            <div class="nav-bottom">
                <a href="/portfolio/" class="nav-item">portfolio</a>
            </div>
        </div>

    </div>

    <!-- MOBILE MENU -->
    <div class="mobile-menu">
        <a href="/" class="mobile-nav-item">home</a>
        <a href="/#Contact" class="mobile-nav-item">Contact</a>
        <a href="/#Projects" class="mobile-nav-item">Projects</a>
        <a href="/portfolio/" class="mobile-nav-item">portfolio</a>
    </div>
</nav>
