<nav class="navbar">
    <div class="nav-desktop">
        <div class="mobile-menu-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="nav-container">
            <div class="nav-top">
                <a href="#main" class="nav-item">home</a>
                <a href="#beatpad" class="nav-item">beatpad</a>
                <a href="#graffiti" class="nav-item">graffiti</a>
                <a href="#game" class="nav-item">game</a>
            </div>
            <div class="nav-bottom">
                <a href="#main" class="nav-item">home</a>
                <a href="#beatpad" class="nav-item">beatpad</a>
                <a href="#graffiti" class="nav-item">graffiti</a>
                <a href="#game" class="nav-item">game</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <a href="#main" class="mobile-nav-item">home</a>
        <a href="#beatpad" class="mobile-nav-item">beatpad</a>
        <a href="#graffiti" class="mobile-nav-item">graffiti</a>
        <a href="#game" class="mobile-nav-item">game</a>
    </div>
</nav>